@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --blue: #0476D9;
  --sky: #2ECEF2;
  --sand: #F2CF66;
  --sand-trans: #F2CF66aa;
  --brown: #A66F2D;
  --black: #0D0D0D;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: inherit;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Texturina', serif;
  color: var(--black);
}

body{
  min-width: 100%;
  min-height: 100%;
  background-image: linear-gradient(-20deg, var(--sand-trans) 0%, var(--sand-trans) 100%), url('./background/background.jpg');
  background-size: cover;
}

header{
  width: 100%;
  height: 60px;
  /* background-color: var(--sand); */
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px 100px;
  z-index: 999;
}

ul{
  height: 100%;
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

li form{
  display: flex;
  flex-direction: row;
  align-items: center;
}

a, .search{
  text-decoration: none;
  text-shadow: 
    1px 1px 1px var(--sand), 
    -1px 1px 1px var(--sand),
    -1px -1px 1px var(--sand),
    1px -1px 1px var(--sand);
  
}

main{
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.auth{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth img{
  margin-top: 180px;
  width:300px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

form label{
  font-weight: 900;
}

input{
  padding: 3px 5px;
  font-family: 'Work Sans', sans-serif;
  border-radius: 3px;
  width: 180px;
}

.sign-up{
  margin-left: 10px;;
}

.login-button-style{
  font-family: 'Work Sans', sans-serif;
  padding: 3px 0;
  width: 85px;
  text-align: center;
  cursor: pointer;
  background-color: var(--sand);
  border-radius: 5px;
}

.login-button-style:hover{
  background-color: var(--light-blue);
  color: var(--black);
}

.login-button-style:active{
  background-color: var(--sand);
  color: var(--brown);
}

.pack-of-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-holder{
  width: 210px;
  height: 286px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-holder img{
  width: 190px;
  object-fit: contain;
  border-radius: 30px;;
}

.card-holder img:hover{
  animation: enlarge .063s ease-in-out forwards;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(1.063);
  }
}

.wanted{
  box-shadow: inset 0 0 30px var(--blue), 0 0 20px var(--blue);
}

.owned{
  box-shadow: inset 0 0 30px var(--brown), 0 0 20px var(--brown);
}

.divider{
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  gap: 50px;
}

.is-wanted h1{
  color: var(--blue)
}

.is-wanted, .is-owned{
  width: 50%;
  text-align: center;

}

.is-owned h1{
  color: var(--brown);
}

.watched-card-holder{
  width: 160px;
}

.watched-card-holder img{
  width: 160px;
  border-radius: 10px;;
}

.holder{
  margin-top: 30px;;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}